<%= render 'shared/errors', obj: @product %>

<%= form_for @product do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, placeholder: "Enter Product Name" %>
  </p>
    <p>
    <%= f.label :price %><br/>
    <%= f.number_field :price,, placeholder: "Enter Price" :step => "0.01" %>
  </p>
  </p>
    <p>
    <%= f.label :count %><br/>
    <%= f.number_field :count, placeholder: "Enter Count" %>
  </p>
  <p>
  	<%= f.submit %>
  </p>
<% end %>

<p><%= link_to "index", products_path %></p>