<h1>Showing Product: <%= @product.id %></h1>

<p>
  Title: <%= @product.title %>
</p>

<p>
  Price: <%= @product.price %>
</p>

<p>
  Count: <%= @product.count %>
</p>

<ul>
	<li><%= link_to @product.user.username, user_path(user) %></li>
	<li><%= pluralize(@product.user.products.count, "product") if user.products %></li>
</ul>

<p>
  Created: <%= time_ago_in_words(@product.created_at) ago%>
</p>

<p>
  Updated: <%= time_ago_in_words(@product.updated_at) ago%>
</p>

<p><%= link_to "index", products_path %></p>
