<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p align="right">
      <% if is_logged_in %>
        <%= link_to 'Log out', logout_path, method: :delete %>
      <% else %> 
        <%= link_to 'Login', login_path %>
        <%= link_to "Signup", signup_path %>
      <% end %> 
    </p>

    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
